<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psiphon3.psiphonlibrary"
    android:versionCode="0"
    android:versionName="0.0" 
    android:installLocation="auto">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="21"/>
    
</manifest>
